/* Sidebar */

#search {
  form {
    position: relative;

    &::before {
      color: fg;
      content: '\f002';
      cursor: default;
      display: block;
      font-size: 1.5em;
      height: calc(element - height / 1.375);
      line-height: calc(element - height / 1.375);
      opacity: 0.325;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: calc(element - height / 1.375);
    }

    input[type='text'] {
      padding-right: element-height;
    }
  }
}

#sidebar.activate-animations {
  @include vendor('transition', ('margin-left 0.5s ease', 'box-shadow 0.5s ease'));
}

#sidebar {
  $pad: calc(2em / 0.9);

  @include vendor('flex-grow', '0');
  @include vendor('flex-shrink', '0');

  background-color: _palette(bg-alt);
  font-size: 0.9em;
  position: relative;
  width: _size(sidebar-width);
  margin-left: (_size(sidebar-width) * -1);

  h2 {
    font-size: calc(1.25em / 0.9);
  }

  > .inner {
    @include padding($pad, $pad, (0, 0, $pad, 0));

    position: relative;
    width: _size(sidebar-width);

    > * {
      display: block;
      border-bottom: solid 2px _palette(border);
      margin: 0 0 (_size(element-margin) * 1.75) 0;
      padding: 0 0 (_size(element-margin) * 1.75) 0;

      > :last-child {
        margin-bottom: 0;
      }

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    > .alt {
      background-color: darken(_palette(bg-alt), 2);
      border-bottom: 0;
      margin: ($pad * -1) 0 ($pad * 2) ($pad * -1);
      padding: $pad;
      width: calc(100% + #{$pad * 2});
    }
  }

  .contact .icon-component {
    color: #f56a6a;
    display: inline-block;
    font-size: 1.5em;
    height: 1.125em;
    left: 0;
    line-height: 1.125em;
    position: absolute;
    text-align: center;
    width: 29px;
  }

  .toggle {
    @include icon(false, solid);
    @include vendor('transition', 'left 0.5s ease');

    -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5em;
    left: _size(sidebar-width);
    line-height: 7.5em;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-indent: -15em;
    white-space: nowrap;
    top: 0;
    width: 6em;
    z-index: _misc(z-index-base);

    > .icon-component {
      width: 2.5rem;
    }
  }

  &.active {
    margin-left: 0;
  }

  @include breakpoint('<=xlarge') {
    $pad: calc(1.5em / 0.9);

    width: _size(sidebar-width-alt);
    margin-left: (_size(sidebar-width-alt) * -1);

    > .inner {
      @include padding($pad, $pad, (0, 0, $pad, 0));

      width: _size(sidebar-width-alt);

      > .alt {
        margin: ($pad * -1) 0 ($pad * 2) ($pad * -1);
        padding: $pad;
        width: calc(100% + #{$pad * 2});
      }
    }

    .toggle {
      height: 6.25em;
      left: _size(sidebar-width-alt);
      line-height: 6.25em;
      text-indent: 5em;
      width: 5em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.active {
      margin-left: 0;
    }
  }

  @include breakpoint('<=large') {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: _misc(z-index-base);

    &.active {
      box-shadow: 0 0 5em 0 rgb(0 0 0 / 17.5%);
    }

    > .inner {
      -webkit-overflow-scrolling: touch;
      height: 100%;
      left: 0;
      overflow: hidden auto;
      position: absolute;
      top: 0;

      &::after {
        content: '';
        display: block;
        height: 4em;
        width: 100%;
      }
    }

    .contact .icon-component {
      width: 27px;
    }

    .toggle {
      text-indent: 6em;
      width: 6em;
    }

    body.is-preload & {
      display: none;
    }
  }

  @include breakpoint('<=small') {
    .contact .icon-component {
      width: 24px;
    }

    .toggle {
      text-indent: 7.25em;
      width: 7.25em;

      &::before {
        color: _palette(fg);
        margin-left: calc(-0.125em / 2);
        margin-top: calc(-0.5em / 2);
        font-size: 1.1rem;
        z-index: 1;
      }

      &::after {
        background: transparentize(lighten(_palette(fg), 35), 0.25);
        border-radius: _size(border-radius);
        content: '';
        height: 3.5em;
        left: 1.15em;
        position: absolute;
        top: 1.35em;
        width: 5em;
      }

      .icon-component {
        width: 35px;
        color: _palette(fg);
        height: 35px;
      }
    }
  }
}
