.icons-overview__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
  gap: 30px 15px;
}

.icon-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;
  box-shadow: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.icon-container .icon-component {
  height: 44px;
  width: 44px;
  flex: 0 0 44px;
  color: black;
}

.icon-container:hover {
  background: none;
}

.icon-label {
  font-size: 14px;
  display: block;
  padding: 4px 8px;
  white-space: nowrap;
  flex: 0 0 auto;
  opacity: 0;
  background-color: _palette(bg);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 99;
  transition: opacity 0.3s ease-in-out;
  color: black;
  position: absolute;
  top: calc(100% + 8px);
}

.icon-container:hover .icon-label {
  opacity: 1;
}
